#body-wrapper {
    background-image: url(../img/main-03.webp);
    min-height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: 'Kosugi Maru', sans-serif;
    color: #1E1E1E;
}
#uos{
    position: relative;
}
#uos>img{
    position: absolute;
    top: 0px;
    left: 0px;
}
.contents {
    max-width: 1232px;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #29237c;
    z-index: 100000;
}

#header-box {
    display: table;
}

#header-box>div {
    display: table-cell;
}

#logo {
    padding-right: 50px;
    position: relative;
    width: 210px;
}

#logo>img {
    height: 55px;
    position: absolute;
}

#nav-box {
    padding-right: 50px
}

#nav {
    list-style: none;
    overflow: hidden;
}

.cf:before,
.cf:after {
    content: "";
    display: table
}

.cf:after {
    clear: both
}

.cf {
    zoom: 1
}

#nav li {
    width: 130px;
    text-align: center;
    float: left;
    height: 55px;
    line-height: 55px;
    margin-right: 2px;
    font-size: 25px;
}

#nav li a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    height: 55px;
    color: #eee;
}

#nav li a:hover {
    color: #3131c5;
    background-color: #FFE5E5;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#btn-box {
    vertical-align: top;
    padding-top: 8px;
}

[lang] {
    display: none;
}

[lang=ja] {
    display: block;
}

#video {
    padding-top: 50px !important;
}

#catch {
    padding-bottom: 70px;
}

#main {
    max-width: 1232px;
    padding-top: 105px;
}

#main>div {
    padding-top: 130px;
}

.center {
    text-align: center;
}

h2 {
    font-size: 70px;
}

#game>div {
    margin-bottom: 100px;
}

#game-embedded {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    margin-bottom: 0px !important;
    background-color: #000000;
}

#gamen {
    font-size: 70px;
    color: #555555;
    padding-top: 250px;
}

.contents-warp {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1232px;
    margin-top: 70px;
}

.contents-box {
    width: 330px;
    padding-bottom: 80px;
    margin: 0 30px;
}

.fa-frame {
    display: inline-block;
    position: relative;
}

.fa-frame:after {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transform: rotate(3deg);
    background: #ccc;
    z-index: -1;
}

.fa-frame img {
    width: auto;
    max-width: 330px;
    max-height: 200px;
    background-color: white;
}

.contents-name {
    font-size: 16px;
    border-bottom: 1px solid #f0bdc4;
    color: #333;
    padding: 20px 0 10px 0;
    position: relative;
    text-align: center;
}

.contents-name:before {
    background-color: #ff6a88;
    border-radius: 50%;
    content: '';
    display: block;
    position: absolute;
    top: 15px;
    left: 0px;
    width: 25px;
    height: 25px;
    box-shadow: 25px 10px 0px #ff6a88,
        3px 25px 0px #ff6a88;
}

.contents-name:after {
    border: 4px solid #fff;
    border-radius: 50%;
    content: '';
    display: block;
    position: absolute;
    top: 25px;
    left: 8px;
    width: 20px;
    height: 20px;
}

#episode {
    background-color: rgba(255, 255, 255, 0.4);
    padding-top: 40px !important;
    margin-top: 90px;
}

#episode .contents-box {
    background-color: #FBF4E6;
    padding: 30px 20px;
    margin: 0 20px 80px;
    border-radius: 20px;
}

#episode .contents-box>div {
    text-align: left;
    font-size: 14px;
    line-height: 21px;
}

.normal-box {
    height: 200px;
}

.grad-wrap {
    position: relative;
}

.grad-wrap+.grad-wrap {
    margin-top: 40px;
}

.grad-trigger {
    color: #777;
    position: absolute;
    top: 160px;
    right: 0px;
    border: 1px solid #777;
    padding: 3px 5px;
    z-index: 100;
}

.grad-item {
    position: relative;
    overflow: hidden;
}

.grad-item.is-hide {
    height: 200px;
}

.grad-item p+p {
    margin-top: 1em;
}

.grad-item::before {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100px;
    background:
        -webkit-linear-gradient(top, rgba(251, 244, 230, 0) 0%, rgba(251, 244, 230, 0.9) 50%,
        rgba(251, 244, 230, 0.9) 50%,
        #FBF4E6 100%);
    background:
        linear-gradient(top, rgba(251, 244, 230, 0) 0%, rgba(251, 244, 230, 0.9) 50%,
        rgba(251, 244, 230, 0.9) 50%,
        #FBF4E6 100%);
}

.grad-trigger.is-show+.grad-item::before {
    display: none;
}

#planner {
    padding-top: 20px;
}

.staff-box {
    width: 400px;
    margin: 0 auto;
}

h3 {
    font-size: 40px;
    padding-top: 60px;
}

h4 {
    font-size: 30px;
    padding-top: 60px;
}

h5 {
    padding: 40px 0 0 0px;
    font-size: 14px;
}

#staff-wrapper {
    display: table;
    max-width: 800px;
    margin: 0 auto;
}

#staff-wrapper>div {
    display: table-cell;
}

.staff-box p {
    width: 250px;
    margin: 0 auto;
}

.staff-box .contents-name {
    padding-top: 10px;
}

#st {
    font-size: 90%;
}

#staff .contents-name:before {
    top: 0px;
}

#staff .contents-name:after {
    top: 10px;
}

#footer-box {
    max-width: 1232px;
    font-size: 20px;
    margin: 100px auto 24px auto;
}

#footer-box a {
    margin: 0 34px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #f490ce;
}
