@media(min-width:1024px){
	.menu-btn{
		display: none;
		}
	}

@media(max-width:1023px){
	html {
		width: fit-content;
	}

	header {
		background-color: transparent;
	}

	#game-embedded{
		display: none;
	}
	#header-box  {
		margin-left: unset; 
		max-width:  175px;
		height: 10px; 
		transition: all .5s ease-in-out;
		opacity: 100;}

	#header-box div {display: none; opacity: 0;}

	#header-box.open div {display: initial; opacity: 100;}

	#header-box > div.menu-btn {display: flex; opacity: 100;}

	#header-box > div.menu-btn * {display: initial; opacity: 100;}

	#header-box.open {
		height: auto;
		justify-items: left;
		max-width: 175px;
		display: flex;
		flex-direction: column;
		background: #ee5b54;
	}

	
	.menu-btn {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100px;
		height: 100px;
		cursor: pointer;
		transition: all .5s ease-in-out;
		background: #ee5b54;
		border-radius: 50px;
		margin: 10px 10px 0 10px;
		opacity: 100;
	}

	.menu-btn.open {background: transparent;}

	.menu-btn__burger {
		width: 50px;
		height: 6px;
		background: #fff;
		border-radius: 5px;
		box-shadow: 0 2px 5px rgba(255,101,47,.2);
		transition: all .5s ease-in-out;
	}

	.menu-btn__burger::before,
	.menu-btn__burger::after {
		content: '';
		position: absolute;
		width: 50px;
		height: 6px;
		background: #fff;
		border-radius: 5px;
		box-shadow: 0 2px 5px rgba(255,101,47,.2);
		transition: all .5s ease-in-out;
	}

	.menu-btn__burger::before {
		transform: translateY(-16px);
	}

	.menu-btn__burger::after {
		transform: translateY(16px);
	}

	/* ANIMATION  */
	.menu-btn.open .menu-btn__burger {
		transform: translateX(-50px);
		background: transparent;
		box-shadow: none;
	}

	.menu-btn.open .menu-btn__burger::before {
		transform: rotate(45deg) translate(35px, -35px);
	}

	.menu-btn.open .menu-btn__burger::after {
		transform: rotate(-45deg) translate(35px, 35px);
	}

	#video {
		width: 600px;
		height: 338px;
		margin: 0 auto;
	}

	#video > iframe {
		width: 100%;
		height: 100%;
	}


}

@media(max-width:599px){
	#header-box {
		margin-right: unset;
		margin-left: auto;
	}

	#header-box > div.menu-btn.open {margin-left: auto;}

	#game-embedded{
		display: none;
	}
	img{
		width:90%;
	}

	#video {
		width: 375px;
		height: 211px;
	}
}

